_meta:
  type: "internalusers"
  config_version: 2

admin:
  hash: "{{ wazuh_admin_hash.stdout }}"
  reserved: false
  backend_roles:
    - "admin"
  description: "Admin user"

{{ wazuh_dashboard_service_user }}:
  hash: "{{ wazuh_dashboard_hash.stdout }}"
  reserved: false
  backend_roles:
    - "kibana_server"
  description: "Dashboard service user"