_meta:
  type: "rolesmapping"
  config_version: 2

all_access:
  reserved: false
  users:
    - "{{ wazuh_admin_user }}"

kibana_server:
  reserved: false
  users:
    - "{{ wazuh_dashboard_service_user }}"